<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases" verbose="1" >
    <test name="Verify user is logged in">
        <parameter name="testRunId1" value="TC-1"/>
        <classes>
            <class name="OrangeHrm.Test.VerifyThatUserIsAbleToApplyLeave"/>
        </classes>
    </test>
    <test name="Verify user is added">
        <parameter name="testRunId" value="TC-2"/>
        <classes>
            <class name="OrangeHrm.Test.VerifyThatUserIsAbleToSearchAndViewHisLeave"/>
        </classes>
    </test>
</suite>