<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases" verbose="1">

    <test name="Verify that user is able to add user and delete added user">
        <parameter name="browserName" value="Chrome"></parameter>
        <parameter name="testRunId1" value="TC-1"/>
        <classes>
            <class name="OrangeHrm.Test.VerifyingByAddingUserAndDeleteSameUser"/>
        </classes>
    </test>
    <test name="Verify that user is able to apply leave">
        <parameter name="browserName" value="Chrome"></parameter>
        <parameter name="testRunId2" value="TC-2"/>
        <classes>
            <class name="OrangeHrm.Test.VerifyThatUserIsAbleToApplyLeave"/>
        </classes>
    </test>
    <test name="Verify that user is able to search and view his leaves">
        <parameter name="browserName" value="Chrome"></parameter>
        <parameter name="testRunId3" value="TC-3"/>
        <classes>
            <class name="OrangeHrm.Test.VerifyThatUserIsAbleToSearchAndViewHisLeave"/>
        </classes>
    </test>

</suite>